<div class="box box325">
  <style>
  .tabTit .more {
    float: right
  }

  .tabTit .more:before {
    content: url("<%= asset_path("more.svg") %>")
  }

  .tabTit .more:hover:before {
    content: url("<%= asset_path("more2.svg") %>")
  }

  .tabTit h3, .tabTit h1, .tabTit h2 {
    display: inline-block;
    float: left;
    height: 40px;
    line-height: 40px;
    font-size: 17px;
    font-weight: normal;
    text-align: center;
    border-top: 3px solid #fff;
    cursor: pointer
  }

  .tabTit {
    overflow: hidden
  }

  .tabTit a {
    color: #666 !important
  }

  .tabTit .active {
    border-top: 3px solid #3499da;
    background: url("<%= asset_path("arrow-d2.svg") %>") center -6px no-repeat
  }

  .tabTit .active.tit {
    color: #3499da
  }

  .tabTit .more {
    height: 41px;
    width: 40px;
    margin-top: -10px;
    margin-right: -15px
  }

  .tabTit .more {
    margin-right: 0;
    margin-top: 0
  }

  .tabTit .more:before {
    display: block;
    margin-top: 12px;
    margin-left: 10px
  }
  
  .tabTit .more {
    margin-right: 15px;
    margin-top: 15px
  }
  </style>          
  <div class="tabTit">
    <h3 class="active tit" style="width: 40%">涨幅榜</h3>
    <h3 class="tit" style="width: 40%">跌幅榜</h3>
    <a href="currencies/maxchange.html" target="_blank" class="more" title="更多"></a>
  </div>          
  <div class="tabBody padding5" style="height:385px">
    <%= render "currency_maxchanges/index_up" %>      
    <div class="m15"></div>
  </div>
  <div class="tabBody padding5" style="display: none;height:385px">
    <%= render "currency_maxchanges/index_down" %>           
    <div class="m15"></div>
  </div>
  <script>
    $(function(){
      $('.tabTit .tit').click(function () {
        var box = $(this).closest('.box').find('.tabBody');
        var index = $(this).index();
        if (box.eq(index).css('display') !== 'block') {
            $(this).closest('.tabTit').find('.tit').removeClass('active');
            $(this).addClass('active');
            box.css('display', 'none');
            box.eq(index).fadeIn('100');
        }
      });
    })
  </script>
</div>