<div class="m30"></div>
<div class="w1200">
  <div class="col">
    <div class="box box1200">
      <div class="boxContain">
        <style>
        .marketinfo {
          padding: 15px 0;
          overflow: hidden
        }

        .marketinfo .cover {
          width: 150px;
          height: 150px;
          float: left;
          margin-right: 15px
        }

        .marketinfo .cover img {
          display: block;
          width: 100%;
          height: 100%
        }

        .marketinfo h1 {
          font-size: 25px;
          font-weight: normal;
          margin-bottom: 5px
        }

        .marketinfo .info {
          float: left;
          width: 850px;
          padding-right: 15px;
          min-height: 150px
        }

        .marketinfo .info .text {
          margin-bottom: 10px
        }

        .marketinfo .web span {
          margin-right: 15px
        }

        .marketinfo .web {
          margin-top: 10px
        }

        .marketinfo .web a {
          margin-right: 5px
        }
        </style>
        <div class="marketinfo">
          <div class="cover">
            <img src="https://static.eastcoinbay.com/PlatImages/20171109/c6720b47a0be429aac704089ed64da7d_2_100_100.png" alt="火币Pro的Logo">
          </div>
          <div class="info" style="width: 660px;">
            <input type="hidden" value="huobipro" id="HSiteCode">
            <h1 style="display: inline-block">火币Pro</h1>
            <style>
            .star,
            .star5 {
              width: 90px;
              height: 18px;
              background: url("<%= asset_path("star.png") %>")
            }

            .star1 {
              background: url("<%= asset_path("star.png") %>") -72px top
            }

            .star2 {
              background: url("<%= asset_path("star.png") %>") -54px top
            }

            .star3 {
              background: url("<%= asset_path("star.png") %>") -36px top
            }

            .star4 {
              background: url("<%= asset_path("star.png") %>") -18px top
            }
            </style>                
            <div class="star star5" style="display: inline-block"></div>
            <div class="text">火币全球专业站，是火币集团旗下服务于全球专业交易用户的创新数字资产交易平台，致力于发现优质的创新数字资产投资机会，目前提供四十多种数字资产品类的交易及投资服务，总部位于新加坡，由火币全球专业站团队负责运营</div>
            <style>
            .xianhuo:before {
              content: url("<%= asset_path("xianhuo2.png") %>")
            }
            .qihuo:before {
              content: url("<%= asset_path("qihuo2.png") %>")
            }               
            .otc:before {
              content: url("<%= asset_path("fabi.png") %>")
            } 
            </style>                
            <div class="tag">
              <a href="/exchanges?type=1">
                <i class="xianhuo"></i>
              </a>
              <a href="/exchanges?type=2">
                <i class="qihuo"></i>
              </a>
              <a href="/exchanges?type=3">
                <i class="otc"></i>
              </a>
            </div>
            <style>
            .twitter:before {
              content: '';
              display: inline-block;
              width: 15px;
              height: 15px;
              background: url("<%= asset_path("fabi.png") %>");
              background-size: 30px 15px;
              vertical-align: -3px
            }

            .twitter:hover:before {
              background: url("<%= asset_path("twitter.png") %>") -15px 0;
              background-size: 30px 15px
            }
            .facebook:before {
              content: '';
              display: inline-block;
              width: 15px;
              height: 15px;
              background: url("<%= asset_path("facebook.png") %>g");
              background-size: 30px 15px;
              vertical-align: -3px
            }

            .facebook:hover:before {
              background: url("<%= asset_path("facebook.png") %>") -15px 0;
              background-size: 30px 15px
            }
            .blog:before {
              content: '';
              display: inline-block;
              width: 15px;
              height: 15px;
              background: url("<%= asset_path("sina-s.png") %>");
              background-size: 30px 15px;
              vertical-align: -3px
            }

            .blog:hover:before {
              background: url("<%= asset_path("sina-s.png") %>") -15px 0;
              background-size: 30px 15px
            }
            </style>                
            <div class="web">
              <span>官网地址：
                <a rel="nofollow" target="_blank" href="https://www.huobi.pro/">https://www.huobi.pro/</a></span>
              <span>
                <b>国家：</b>
                <a href="/exchanges" target="_blank">塞舌尔</a></span>
              <span>官方微博：
                <a href="https://twitter.com/huobicom" rel="nofollow" target="_blank" class="twitter" title="火币Pro的twitter地址：https://twitter.com/huobicom"></a>
                <a href="https://www.facebook.com/huobicom" rel="nofollow" target="_blank" class="facebook" title="火币Pro的facebook地址：https://www.facebook.com/huobicom"></a>
                <a href="http://weibo.com/huobicom" rel="nofollow" target="_blank" class="blog" title="火币Pro的新浪微博地址：http://weibo.com/huobicom"></a>
              </span>
            </div>
          </div>
          <style>
          .vol {
            width: 310px;
            overflow: hidden;
            float: right;
            padding-left: 15px
          }

          .vol>p {
            margin-top: 30px
          }    
          </style>          
          <div class="vol">
            <p>24小时平台成交额：</p>
            <style>
            .bprice {
              margin-top: 15px
            }

            .bprice .num {
              font-size: 25px;
              font-weight: bold
            }

            .bprice .num2 span {
              color: #666;
              margin-right: 15px
            }
            </style>
            <div class="bprice" style="margin-top: 0">
              <div class="num">¥6,323,994,814
                <style>
                .tag-rank {
                  font-size: 14px;
                  color: #fff;
                  font-weight: normal;
                  padding: 3px 10px;
                  background: #3499da;
                  border-radius: 3px;
                  vertical-align: 4px
                }
                </style>`
                <span class="tag-rank">排名
                  <b>NO.7</b>
                </span>
              </div>
              <div class="num2">
                <span>$1,005,788,190</span>
                <span>96,469BTC</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="box box845">
      <style>
      .tabTit .more {
        margin-right: 15px;
        margin-top: 15px
      }
      </style>          
      <div class="tabTit">
        <h2 class="tit active" style="width: 130px;">行情</h2>
        <h2 class="tit" style="width: 130px;">平台简介</h2>
        <h2 class="tit" style="width: 130px;">费用说明</h2>
        <h2 class="tit" style="width: 130px;"><a href="#rank">历史排名</a></h2>
      </div>
      <div class="boxContain" style="min-height:840px;">
        <div class="tabBody">
          <%= render "exchange_trades/index" %>
        </div>
        <div class="tabBody" style="display: none">
          <%= render "show.detail" %>
        </div>
        <div class="tabBody" style="display: none">
          <%= render "show.fee" %>
        </div>
        <div class="tabBody" style="display:none;" id="platformrankBox">
          <%= render "exchange_ranks/index" %>
        </div>
      </div>
      <script>
        $(function(){
          $('.tabTit .tit').click(function () {
            var box = $(this).closest('.box').find('.tabBody');
            var index = $(this).index();
            if (box.eq(index).css('display') !== 'block') {
                $(this).closest('.tabTit').find('.tit').removeClass('active');
                $(this).addClass('active');
                box.css('display', 'none');
                box.eq(index).fadeIn('100');
            }
          });
        })
      </script>      
    </div>
    <%= render "exchange_trades/percent" %>
    <%= render "exchange_notices/show" %>
  </div>
</div>