<style>
.addto {
  float: right;
  background: #1d80bf;
  color: #fff !important
}

.hasaddto {
  float: right;
  background: #e40101;
  color: #ffffff !important;
}

.addto, .hasaddto {
  cursor: pointer;
}

table .addto, table .hasaddto {
  background: none;
  color: #1d80bf !important;
  float: left !important;
  height: auto;
  padding: 0;
  margin-top: 0;
  margin-left: 0;
  line-height: normal;
  width: 80px;
}
</style>
<div class="m30"></div>
<%= render "share/advertisement" %>

<div class="m15"></div>
<div class="w1200">
  <div class="col">
    <style>
      .box815 {
        width: 815px;
        float: left;
      }
    </style>
    <div class="box2 box815">
      <style>
      .searchBar{
          position: relative;
      }
      .searchBar input{
          height: 22px;
          border:1px solid #ddd;
          line-height: 32px;
          padding: 5px 10px;
          width: 792px;
          text-align: left;
          border-radius: 4px;
      }
      .searchBar button{
          background: none;
          position: absolute;
          top:0px;
          right:0px;
          width:80px;
          height: 34px;
          border: none;
          cursor: pointer;
          background: #3499da;
          border-radius: 0 4px 4px 0;

      }
      .searchBar button i:before{
          margin-left:0px;
          content: url("<%= asset_path("search2.svg") %>");
      }
      .searchBar button:active {
          background: #1d80bf;
      }
      .searchBar .tips {
        padding-left: 0;
      }
      </style>          
      <div class="searchBar">
        <input type="text" id="searchbar" name="searchbar" value="bitcoin" style="background: none" placeholder="输入关键词搜索" onkeydown="javascript:if(event.keyCode==13) search(document.getElementById('word').value);">
        <button onclick="search(document.getElementById('searchbar').value)">
          <i class="icon-search"></i>
        </button>
        <style>
        .tips {
          padding: 15px;
          color: #999;
          font-size: 12px
        }
        </style>
        <div class="tips">共45个结果，41个币种，4个交易所</div>
        <script>
          function search(word) {
              if (word == undefined || word == null || word.length < 1 || word.trim().length < 1) {
                  alert("请输入关键词");
                  return false;
              }
              else {
                  word = word.trim();
                  window.location.href = "/currencies/search.html?word=" + encodeURIComponent(word);
                  //alert(window.location.href = "/search?word=" + encodeURIComponent(word));
              }
          }
        </script>
      </div>
      <div class="m15"></div>
      <style>
        .slide {
          overflow: hidden;
        }

        .slide>div {
          cursor: pointer;
          float: left;
          height: 35px;
          display: inline-block;
          line-height: 35px;
          font-size: 16px;
          width: 100px;
          text-align: center;
        }

        .slide>div.active {
          border-bottom: 3px solid  #3499da;
          color: #3499da
        }
      </style>
      <div class="slide">
        <div class="active">币种</div>
        <div>交易平台</div>
      </div>
      <div class="slidebody" style="min-height: 830px;">
        <style>
        .maintable tr td a.price.text-red:after,
        .maintable  tr td .tprice.text-red:after {
          content: url("<%= asset_path("arrow-d4.svg") %>")
        }

        .maintable tr td a.price.text-green:after,
        .maintable  tr td .tprice.text-green:after {
          content: url("<%= asset_path("arrow-u3.svg") %>")
        }
        .maintable .tags-green, .maintable .tags-red {
          margin-left: 0
        }
        </style>  
        <style>
        .disactive {
          float: left;
          background: #ddd;
          color: #999 !important;
          height: 25px;
          padding: 0 5px;
          margin-top: 4px;
          margin-left: 5px;
          line-height: 25px;
          border-radius: 3px
        }
        </style>          
        <table class="table maintable" id="table">
          <thead>
            <tr>
              <th>#</th>
              <th data-sort-method='none'>名称</th>
              <th>流通市值</th>
              <th>价格</th>
              <th>涨幅(24h)</th>
              <th>自选状态</th></tr>
          </thead>
          <tbody>
            <% (1..20).each do %>
            <tr>
              <td>1</td>
              <td>
                <a href="/currencies/show" target="_blank">
                  <img src="/Coin/7033f2f2c2a16094bbb3bafc47205ba8_small.png" alt="BTC-比特币">BTC-比特币</a></td>
              <td>¥11,942亿</td>
              <td>￥70,985</td>
              <td class="change">
                <span class="text-green">5.14%</span></td>
              <td>
                <div class="addto disactive" onclick="addfocus();">添加自选</div></td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <style>
        .seeAll {
          display: block;
          background: #f1f1f1;
          height: 35px;
          line-height: 35px;
          text-align: center;
          color: #666
        }

        .seeAll:hover {
          color: #1d80bf !important
        }
        </style>        
        <div class="seeAll">
          <a href="../javascript:void(0);" page="1" onclick="MoreSearchCoin($(this), '/moresearchcoin/?word=bitcoin')">加载更多</a></div>
        <div class="m15"></div>
      </div>
      <div class="slidebody" style="min-height: 830px;display:none;">
        <style>
        .plantList .pic {
          display: block;
          float: left;
          width: 110px;
          height: 110px;
          margin-right: 30px
        }

        .plantList .pic img {
          display: block;
          width: 100%;
          height: 100%
        }

        .plantList {
          padding: 15px
        }

        .plantList li {
          overflow: hidden
        }

        .plantList li:nth-child(odd) {
          background: #f9f9f9
        }

        .plantList li .con {
          padding: 15px
        }

        .plantList li .info {
          float: left;
          overflow: hidden;
          width: 995px
        }

        .plantList li .con div {
          margin-bottom: 10px
        }

        .plantList li .con .tit a {
          font-size: 16px
        }



        .plantList li .info {
          width: 660px
        }

        .plantList li {
          padding-bottom: 10px;
          border-bottom: 1px dashed #ddd
        }

        .plantList li .tag a {
          vertical-align: -3px
        }

        .plantList li .con div:last-child {
          margin-bottom: 0
        }

        .plantList .spreadList {
          background: #fffdf5 !important;
          border-bottom: 1px dashed #ddd;
          position: relative
        }

        .plantList .spreadList:after {
          content: '广告';
          font-size: 12px;
          background: #fffae7;
          height: 18px;
          line-height: 18px;
          position: absolute;
          padding: 1px 5px;
          right: 0;
          bottom: 0;
          display: block;
          color: #ccc;
          opacity: .5
        }
        .plantList li .con {
          padding: 10px
        }

        .plantList .pic {
          width: 100px;
          height: 100px
        }

        .plantList2 {
          padding: 0;
        }

        .plantList2 li {
          border-top: 1px solid #ddd !important;
          border-bottom: none !important;
        }

        .plantList2 li {
          background: #fff !important;
        }
        </style>            
        <ul class="plantList plantList2" id="liEx">
          <li>
            <div class="con">
              <a target="_blank" href="/exchanges/show" class="pic">
                <img src="/PlatImages/20170806/cbb38512f4e842109ae2701bbf9428c9_2_100_100.png" alt="BitcoinToYou的logo"></a>
              <div class="info">
                <div class="tit">
                  <a target="_blank" href="/exchanges/show">
                    <b>BitcoinToYou</b>
                  </a>
                  <style>
                  .star,
                  .star5 {
                    width: 90px;
                    height: 18px;
                    background: url("<%= asset_path("star.png") %>")
                  }

                  .star1 {
                    background: url("<%= asset_path("star.png") %>") -72px top
                  }

                  .star2 {
                    background: url("<%= asset_path("star.png") %>") -54px top
                  }

                  .star3 {
                    background: url("<%= asset_path("star.png") %>") -36px top
                  }

                  .star4 {
                    background: url("<%= asset_path("star.png") %>") -18px top
                  }
                  </style>
                  <div class="star star3" style="float: right"></div>
                </div>
                <div class="des">bitcointoyou成立于2010年,是巴西第一家比特币交易平台，目前已有超过20万用户</div>
                <style>
                .space:before {
                  content: '/';
                  margin: 0 5px;
                  font-style: normal
                }
                </style>
                <div class="detal">交易对:
                  <a target="_blank" href="/exchanges/show">1</a>
                  <i class="space"></i>国家:
                  <a href="/exchanges">巴西</a>
                  <i class="space"></i>成交额(24h):
                  <a href="/exchanges/show">¥781万</a>支持：
                  <style>
                  .xianhuo:before {
                    content: url("<%= asset_path("xianhuo2.png") %>")
                  }
                  </style>                      
                  <span class="tag">
                    <a href="/exchanges?type=1">
                      <i class="xianhuo" title="支持现货"></i>
                    </a>
                  </span>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <style>
        .seeAll {
          display: block;
          background: #f1f1f1;
          height: 35px;
          line-height: 35px;
          text-align: center;
          color: #666
        }

        .seeAll:hover {
          color: #1d80bf !important
        }
        </style>        
        <div class="seeAll">
          <a href="../javascript:void(0);" page="1" onclick="MoreSearchExchange($(this), '')">加载更多</a>
        </div>
        <div class="m15"></div>
      </div>
      <script>
        $('.slide>div').click(function() {
          if (!$(this).hasClass('active')) {
            var index = $(this).index();
            $('.slide>div.active').removeClass('active');
            $(this).addClass('active');
            $('.slidebody').hide();
            $('.slidebody').eq(index).show();
          }
        })
      </script>
    </div>
    <%= render 'search/hot' %>
    <%= render 'share/banner2' %>
  </div>
</div>

<script>
  function addfocus() {
      $(".login").click();
  }
</script>

<script>
  //搜索结果--添加自选(全网)
  function addsearchchose(keys) {

      var id = keys.attr("id");

      keys.attr("disabled", "disabled");
      keys.html("提交中...");
      var parms = new Object();
      var coincode = id.split("#")[1];
      var symbolpair = id.split("#")[2];
      parms["coincode"] = coincode;
      parms["symbolpair"] = symbolpair;
      parms["type"] = "1";

      $.ajax({
          url: "/user/post.CoinSearchFocus",
          data: parms,
          type: "post",
          async: true,
          xhrFields: {
              withCredentials: true
          },
          success: function (data) {
              addsearchfocusResponse(data);
          }
      });
      function addsearchfocusResponse(data) {

          var result = eval("(" + data + ")");
          if (result.status == "success") {
              keys.attr("onclick", "cancelsearchchose($(this))");
              keys.attr("class", "hasaddto disactive");

              keys.removeAttr("disabled");
              keys.html("移除自选");
          }
          else {
              alert(result.content);
              keys.removeAttr("disabled");
              keys.attr("class", "addto disactive");
              keys.html("添加自选");
          }

      }
  }


  //搜索结果--取消自选（全网）
  function cancelsearchchose(keys) {

      var id = keys.attr("id");

      keys.attr("disabled", "disabled");
      keys.html("提交中...");
      var parms = new Object();
      var coincode = id.split("#")[1];
      var symbolpair = id.split("#")[2];
      parms["coincode"] = coincode;
      parms["symbolpair"] = symbolpair;
      parms["type"] = "2";
      $.ajax({
          url: "/user/post.CoinSearchFocus",
          data: parms,
          type: "post",
          async: true,
          xhrFields: {
              withCredentials: true
          },
          success: function (data) {
              cancelsearchfocusResponse(data);
          }
      });


      function cancelsearchfocusResponse(data) {


          var result = eval("(" + data + ")");
          if (result.status == "success") {
              keys.attr("onclick", "addsearchchose($(this))");
              keys.attr("class", "addto disactive");
              keys.removeAttr("disabled");
              keys.html("添加自选");
          }
          else {
              alert(result.content);
              keys.removeAttr("disabled");
              keys.attr("class", "hasaddto disactive");
              keys.html("移除自选");
          }
      }
  }

  function MoreSearchCoin(btn, url, obj) {
        page = parseInt(btn.attr('page')) + 1;

        var urlparam = "";
        if (url.indexOf("?") > -1) {
            urlparam = "&page=" + page;
        } else {
            urlparam = "?page=" + page;
        }
        info = $.ajax({
            url: url + urlparam,
            async: false,
            xhrFields: {
                withCredentials: true
            },
            success: function (data) {
                if (data == '') {
                    btn.css("display", "none");
                }
                else {
                    if (data != 'error') {
                        $("#table").append(data);
                        btn.attr("page", page);
                    }
                }
            }
        });

  }      
  function MoreSearchExchange(btn, url, obj) {
      page = parseInt(btn.attr('page')) + 1;

      var urlparam = "";
      if (url.indexOf("?") > -1) {
          urlparam = "&page=" + page;
      } else {
          urlparam = "?page=" + page;
      }
      info = $.ajax({
          url: url + urlparam,
          async: false,
          xhrFields: {
              withCredentials: true
          },
          success: function (data) {
              if (data == '') {
                  btn.css("display", "none");
              }
              else {
                  if (data != 'error') {
                      $("#liEx").append(data);
                      btn.attr("page", page);
                  }
              }
          }
      });

  }      
</script>