<div class="m30"></div>
<%= render "share/advertisement" %>

<div class="m15"></div>
<div class="w1200">
  <div class="col">
    <%= render "show.baseinfo" %>
    <%= render "show.trend" %>

    <%= render "currency_trades/index" %>
    <%= render "currency_events/index" %>
    <%= render "currency_ranks/index" %>
    
    <%= render "concepts/index.hot" %>
  </div>
</div>

<%= render "show.indexes" %>