<div class="m30"></div>
<%= render "share/advertisement" %>

<div class="m15"></div>

<div class="w1200">
  <div class="col">
     
    <%= render "currencies/index" %>   

    <%= render "exchange_notices/index" %>      
	<%= render "share/banner1" %> 
	<%= render "currency_maxchanges/index" %>     
	<%= render "concepts/index.hot" %>
	<%= render "share/banner2" %> 
	<%= render "share/vol" %>
	<%= render "currency_newests/index" %> 
	<%= render "pages/daohang" %>  
  </div>
</div>