<div class="m30"></div>
<%= render "share/advertisement" %>

<div class="m15"></div>

<div class="w1200">
  <div class="col">
     
    <%= render "currencies/index" %>   
    <%= render "exchanges/notices/index" %>      
    
    <%= render "share/banner1" %> 

    <%= render "currencies/maxchange" %>     
    <%= render "concepts/index" %>  
    
    <%= render "share/banner2" %> 
    
    <%= render "currencies/vol" %> 
    <%= render "currencies/newest" %> 
    
    <%= render "pages/daohang" %> 
    
  </div>
</div>