<div class="vol-rank">
  <div class="tit">
    <div class="rank">NO.1</div>
    <div class="market">
      <a target="_blank" href="../exchange/bithumb/index.html" class="pic">
        <img src="https://static.eastcoinbay.com/PlatImages/20170805/576bf2938beb4a49b363e27ca2d4e26f_150_150.png" alt="Bithumb"></a>
      <div class="info">
        <a class="name" target="_blank" href="../exchange/bithumb/index.html">Bithumb</a>
        <style>
        .star,
        .star5 {
          width: 90px;
          height: 18px;
          background: url("<%= asset_path("star.png") %>")
        }

        .star1 {
          background: url("<%= asset_path("star.png") %>") -72px top
        }

        .star2 {
          background: url("<%= asset_path("star.png") %>") -54px top
        }

        .star3 {
          background: url("<%= asset_path("star.png") %>") -36px top
        }

        .star4 {
          background: url("<%= asset_path("star.png") %>") -18px top
        }
        </style>                    
        <div class="star star5"></div>
      </div>
    </div>
    <div class="data">
      <small>总成交额</small>
      <span class="volume" data-usd="3024638981.25" data-btc="291107.68" data-cny="19083545650.69">¥1,908,355万</span></div>
    <a class="more" title="查看更多" target="_blank" href="../exchange/bithumb/index.html"></a>
  </div>
  <table class="table">
    <tr>
      <th>#</th>
      <th>名称</th>
      <th>交易对</th>
      <th>成交额(24小时)</th>
      <th>价格</th>
      <th>成交额占比</th>
    </tr>
    <% (1..20).each do %>
    <tr>
      <td>1</td>
      <td>
        <a href="../currencies/eos/index.html" target="_blank">柚子-EOS</a></td>
      <td>EOS/KRW</td>
      <td class="volume" data-usd="1310597346" data-cny="8396079778" data-btc="112179" data-native="95382806">¥839,608万</td>
      <td class="price" data-usd="13.74" data-cny="88.03" data-btc="0.001176" data-native="14,760">¥88.03</td>
      <td>43.40%</td>
    </tr>
    <% end %>
  </table>
</div>
<div class="m30"></div>