<div class="m30"></div>
<%= render "share/advertisement" %>

<div class="m15"></div>
<div class="w1200">
  <div class="col ideaHead">
    <%= render "show.stats" %>
  </div>
  <div class="col">
    <div class="box box860">
      <%= render "show.tableTop" %>
      <div style="display:none" id="currency-exchange-rates" data-cny="0.15609634266269143" data-usd="1" data-btc="10407.1" data-eth="937.01207246177455" data-jpy="0.009038240796811307" data-krw="0.0009309210066979767" data-hkd="0.1279132236690629" data-rub="0.017693180782728624" data-inr="0.01567275291905023" data-aud="0.796781004740847" data-eur="1.2246707472695966" data-chf="1.0394707846341271" data-gbp="1.3952177516344977" data-cad="0.8015710793154583" data-idr="7.47758696218376e-05" data-brl="0.3121297361005507" data-mxn="0.053277072744515125"></div>
      <div class="m15"></div>
      <%= render "show" %>
    </div>

    <%= render "concepts/index.hot.simple" %>
    
    <%= render 'share/banner2' %>
    <%= render "currencies/maxchange" %>      
  </div>
</div>

    
