<div class="m30"></div>
<%= render "share/advertisement" %>

<div class="m15"></div>
<div class="w1200">
  <style>
    .ideaHead h1 {
      font-size: 20px;
      font-weight: normal
    }
    
    .ideaHead .boxContain {
      padding-top: 10px;
      padding-bottom: 10px;
      overflow: hidden;
      height: 54px
    }

    .ideaHead .boxContain .tit {
      float: left;
      margin-top: 5px
    }

    .ideaHead .boxContain .sub {
      color: #999
    }

    .ideaHead .boxContain .change {
      font-size: 28px;
      font-weight: bold;
      float: right;
      height: 45px;
      line-height: 45px;
      margin-top: 5px
    }

    .ideaHead .cell {
      width: calc(20% - 1px);
      float: left;
      text-align: center;
      padding: 8px 0;
      border-left: 1px solid #ddd
    }

    .ideaHead .cell:first-child {
      border: 0
    }

    .ideaHead .cell .tit {
      font-size: 14px;
      color: #999;
      margin-top: 5px
    }

    .ideaHead .cell .text {
      font-weight: bold;
      font-size: 18px
    }  
    .ideaHead .boxContain {
      padding: 10px 15px
    }

    .ideaTabel tr td:nth-child(4), .ideaTabel tr td:nth-child(5) {
      text-align: right;
      max-width: 90px
    }

    .ideaTabel tr th:nth-child(5), .ideaTabel tr th:nth-child(4) {
      text-align: right
    }

    .ideaTabel tr td:nth-child(6), .ideaTabel tr td:nth-child(7) {
      text-align: center
    }

    .ideaTabel tr th:nth-child(6), .ideaTabel tr th:nth-child(7) {
      text-align: center
    }
  </style>
  <div class="col ideaHead">
    <%= render "show.stats" %>
  </div>
  <div class="col">
    <div class="box box860">
      <%= render "show.tableTop" %>
      <div style="display:none" id="currency-exchange-rates" data-cny="0.15609634266269143" data-usd="1" data-btc="10407.1" data-eth="937.01207246177455" data-jpy="0.009038240796811307" data-krw="0.0009309210066979767" data-hkd="0.1279132236690629" data-rub="0.017693180782728624" data-inr="0.01567275291905023" data-aud="0.796781004740847" data-eur="1.2246707472695966" data-chf="1.0394707846341271" data-gbp="1.3952177516344977" data-cad="0.8015710793154583" data-idr="7.47758696218376e-05" data-brl="0.3121297361005507" data-mxn="0.053277072744515125"></div>
      <div class="m15"></div>
      <%= render "show" %>
    </div>

    <%= render "concepts/index.hot.simple" %>
    
    <%= render 'share/banner2' %>
    <%= render "currency_maxchanges/index" %>      
  </div>
</div>

    
