<!DOCTYPE html>
<html lang="zh-cn">
  
  <head>
    <title>东方币湾_专注数字货币行业大数据分析</title>
    <meta name="keywords" content="coinmarket,数字货币数据分析,数字货币行业大数据,虚拟币数据分析" />
    <meta name="description" content="东方币湾&#160;&#160;(www.eastcoinbay.com)&#160;&#160;是最专业的数字货币行业大数据平台之一，专注于为数字货币用户提供数据分析，数据挖掘服务。我们拥有全球1000多个数字货币，150多家交易平台，5千多个交易对的数据资源，提供最专业的数字货币趋势分析，行情分析等多维度，全方位的分析服务" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="applicable-device" content="pc">
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="mobile-agent" content="format=html5; url=//m.eastcoinbay.com/" />
    <link rel="alternate" media="only screen and(max-width: 640px)" href="https://m.eastcoinbay.com/" />
    <link rel="canonical" href="index.html" />
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>

    <%= javascript_include_tag "application" %>
    <!-- <link href="/assets/css/stylesheet_nav.css" rel="stylesheet">
    <link href="/assets/js/tablesort/tablesort.css" rel="stylesheet">
    <script src="/assets/js/jquery-2.1.1.js"></script> -->
    <link rel="shortcut icon" href="/assets/images/fav.ico" /></head>
  
  <body>
    <%= render "share/nav" %>
    <div class="m30"></div>
    <div class="m30"></div>
    <%= render "share/advertisement" %>

    <div class="m15"></div>
    <div class="w1200">
      <div class="col">
        <style>
        .pageList {
          float: right
        }

        .pageList a {
          height: 30px;
          line-height: 30px;
          padding: 0 10px;
          border: 1px solid #eaecef;
          display: block;
          float: left;
          color: #333;
          border-right: 0;
          transition: all .3s;
          text-decoration: none
        }

        .pageList a:hover {
          background: #3499da;
          color: #fff
        }

        .pageList a:first-child {
          border-radius: 3px 0 0 3px
        }

        .pageList a:last-child {
          border-radius: 0 3px 3px 0;
          border-right: 1px solid #eaecef
        }

        .pageList a:active,
        .pageList .active {
          background: #3499da;
          color: #fff
        }

        .pageList-left {
          float: none !important;
          display: inline-block;
          vertical-align: top
        }
        </style>  
        <%= render "currencies/index" %>   
        <%= render "exchanges/notices/index" %>      
        <%= render "share/banner1" %> 

        <style>
        .tabTit-a {
          width: 100%;
          padding: 5px 0;
          overflow: hidden;
        }

        .tabTit-a li:last-child {
          margin-right: 0;
        }

        .tabTit-a li {
          display: block;
          cursor: pointer;
          float: left;
          padding: 5px 10px;
          border: 1px solid #f1f1f1;
          width: 79px;
          text-align: center;
          transition: all .2s;
          margin-bottom: 5px;
          margin-right: 5px;
        }

        .tabTit-a li:hover,
        .tabTit-a li.active {
          color: #fff;
          background: #3499da;
          border-color: #3499da
        }
        </style>    
        <%= render "currencies/maxchange" %>     
        <%= render "concepts/index" %>  
        
        <%= render "share/banner2" %> 
        <%= render "currencies/vol" %> 
        <%= render "currencies/newest" %> 
        
        <%= render "pages/daohang" %> 
        
      </div>
    </div>
    <div class="m30"></div>
    <%= render "share/friendlink" %> 
    <%= render "share/footer" %> 
    <%= render "share/totop" %> 

    
    <script src="/assets/js/common-1.1.js"></script>
    <script src="/assets/js/jquery.peity.min.js"></script>
    <script src="/assets/js/jquery.color.js"></script>
    <script src="/assets/js/tablesort/tablesort.js"></script>
    
    <script type="text/javascript">
      $('.line').peity("line", {
        width: 50,
        height: 15,
        fill: '#f5f5f5',
        min: 99999,
        strokeWidth: 1
      });
    </script>
    <script type="text/javascript">
      autoComplete($('#input-sm'));
    </script>
    
    

    <script>
      var mun = 0;
      var scroll1 = null;
      function scroll() {
        scroll1 = setInterval(function() {
          mun--;
          $('.artList').eq(0).css('margin-top', mun + 'px');
          if (mun == -200) {
            $('.artList').eq(0).appendTo('#artList');
            $('.artList').css('margin-top', '0');
            setTimeout(function() {
              mun = 0;
              clearInterval(scroll1);
              scroll()
            }, 75)
          }
        }, 80)
      }
      scroll();
      $('.artList').mouseover(function() {
        clearInterval(scroll1);
      });
      $('.artList').mouseout(function() {
        scroll()
      })</script>
    <script type="text/javascript">
      function coinConceptSlide() {
          var length = $('.hotidea a').length;
         
          var max = Math.ceil(length / 4);
          var d = 292;
          var page = 1;
          $('.slideBar .slideright').click(function () {
              if (page < max) {
                  $('.hotidea>div').eq(0).animate({ 'margin-left': -292 * page + 'px' }, 500)
                  page++;
              }
          });
          $('.slideBar .slideleft').click(function () {
              if (page != 1) {
                  page--;
                  $('.hotidea>div').eq(0).animate({ 'margin-left': -292 * (page - 1) + 'px' }, 500)
              }
          })
      }              
      coinConceptSlide();
      $('body').on('click', "#hotconcept a", function () { 
          if ($(this).hasClass('active')) {
              return;
          }
          $('#hotconcept a').removeClass('active');
          $(this).addClass('active')
      })      
      function loadconcept(conceptid) {
          $.ajax({
              url: "/concept/" + conceptid + "/hotconceptCoinTable.html",
              async: true,
              success: function (data) {
                  $("#hotconceptCoinTable").html("");
                  $("#hotconceptCoinTable").append(data);
              }
          });
      }     
      loadconcept(0);
      autoComplete($('#search2'));
    </script>
  </body>

</html>