<!DOCTYPE html>
<html lang="zh-cn">
  
  <head>
    <title>东方币湾_专注数字货币行业大数据分析</title>
    <meta name="keywords" content="coinmarket,数字货币数据分析,数字货币行业大数据,虚拟币数据分析" />
    <meta name="description" content="东方币湾&#160;&#160;(www.eastcoinbay.com)&#160;&#160;是最专业的数字货币行业大数据平台之一，专注于为数字货币用户提供数据分析，数据挖掘服务。我们拥有全球1000多个数字货币，150多家交易平台，5千多个交易对的数据资源，提供最专业的数字货币趋势分析，行情分析等多维度，全方位的分析服务" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="applicable-device" content="pc">
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="mobile-agent" content="format=html5; url=//m.eastcoinbay.com/" />
    <link rel="alternate" media="only screen and(max-width: 640px)" href="https://m.eastcoinbay.com/" />
    <link rel="canonical" href="index.html" />
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>

    <%= javascript_include_tag "application" %>
    <!-- <link href="/assets/css/stylesheet_nav.css" rel="stylesheet">
    <link href="/assets/js/tablesort/tablesort.css" rel="stylesheet">
    <script src="/assets/js/jquery-2.1.1.js"></script> -->
    <link rel="shortcut icon" href="<%= asset_path("fav.ico") %>"/>
  </head>
  
  <body>
    <%= render "share/nav" %>
    <div class="m30"></div>
    
    <%= yield %>

    <div class="m30"></div>
    <%= render "share/friendlink" %> 
    <%= render "share/footer" %> 
    <%= render "share/totop" %> 
  </body>

</html>