<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">

    <title>Digital Currency | <%= yield :thredded_page_title %></title>
    
    <%= csrf_meta_tag %>
    
    <%= stylesheet_link_tag 'application.thredded', 'data-turbolinks-track': 'reload' %>
    
    <%= javascript_include_tag 'application.thredded',
                               async: !Rails.application.config.assets.debug,
                               defer: true,
                               'data-turbolinks-track': 'reload'%>
    <%== Gravatar.prefetch_dns %>
    
  </head>
  <body>
    <%= yield %>
  </body>
</html>
